@{
    ViewData["Title"] = "Home Page";
}
@{
    var data = ViewBag.Message;
}

@model IndexViewModel


<h3>Bench documentation</h3>

<h5>Actual bench path: @data.BenchPath</h5>

@using (Html.BeginForm())
{
<p>
    Update bench path:
    @Html.TextBoxFor(s => s.BenchPath, new { @class = "form-control", Value = data.BenchPath })



    <input type="submit" value=" Update" />
</p>
}
@using (Html.BeginForm("BenchDefaultValue", "Home"))
{
<p>
    <input type="submit" value="Set default bench path" />
</p>
}



