@{
    ViewData["Title"] = "Home Page";
}

<h3>Bench default path: </h3>
<p>@Html.DisplayText(BenchProperties.BenchPath)</p>

<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
    <h2>Index</h2>
    @using (Html.BeginForm("ChangePath", "Home"))
    {
        <table>
            <tr>
                <td>
                    Name:
                </td>
                <td>
                    <input type="text" id="SearchText" name="SearchText" style="width: 325px" />
                </td>
                <td></td>
                <td>
                    <input type="submit" id="ChangePath" value="Search" />
                </td>
            </tr>
        </table>
    }
